[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-login = "*"
flask-bcrypt = "*"
pymongo = "*"
mongomock = "*"
pytest-cov = "*"
pytest-mock = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.10"
